@import url(' https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
  }
  
  nav{
    background: #ece7d5;
    height: 80px;
    width: 100%;
  }
  
  label.logo{
    color: rgb(63, 45, 45);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a{
    color: rgb(63, 45, 45);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a:hover{
    background: #9c998e;
    transition: .5s;
  }
  
  .checkbtn{
    font-size: 30px;
    color: rgb(63, 45, 45);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check{
    display: none;
  }
  
  @media(max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  
  @media(max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #9c998e;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: rgb(63, 45, 45);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

body{
    color: #000;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1{
    color: #fff;
    font-family: 'Gill Sans';
    font-size: 200px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #000;
}

.container{
    display: block;
    background-color: #a0a0a0;
    border-radius: 20px;
    width: calc(100% - 60px);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 50px;
    font-family: sans-serif;
}

section.module{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.fusca{
    padding: 40px 0;
    background-color: #000000;
}

section.fuscat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

section.fuscat:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.fuscat{
    background-image: url(./assets/fusca_fab.jpg);

}

section.fuscacuri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

section.fuscacuri:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.fuscacuri{
    background-image: url(./assets/25_fusca.jpg);

}

section.module.chevette{
    padding: 40px 0;
    background-color: #000;
}

section.chevettet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

section.chevettet:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.chevettet{
    background-image: url(./assets/chevette_anti.jpeg);
}

section.chevettecuri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

section.chevettecuri:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.chevettecuri{
    background-image: url(./assets/chevette_gp.jpg);
}